.header {
    text-align: center;
    margin-bottom: 80px;
}

input[type="text"] {
    border-radius: 5px;
    border-style: solid;
}

.box1 {
    margin-left: 500px;
}



.footer1 {
    width: 300px;
    margin-right: 800px;
    margin-top: 200px;
    border-radius: 5%;
    float: left;
    background-color: rgb(227, 217, 217);
   
   
}

.footer2 {
    width: 170px;
margin-top: 200px;
float: left;
background-color: rgb(227, 217, 217);
}

